body {
  background-color: #eeb1b1;
  margin: 0;
  padding: 0;
  font-family: san-serif;
  color: black; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 1120px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 8fr 3fr;
  border: 1px solid black; }

header {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; }
  header .logo {
    width: 150px;
    height: 80px; }
  header .logo img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }
  header nav {
    background-color: red; }
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  header li {
    display: inline;
    font-weight: 900; }
  header a {
    text-decoration: none;
    color: black; }
    header a:hover {
      color: #f8f7f7; }

main {
  width: 100%;
  height: 2200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: blue; }

footer {
  width: 100%;
  height: 800px;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: green; }
